body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5e0ef;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    padding-left: 10px; 
    box-sizing: border-box;
  }
   
  
  h1 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    margin-left: 20px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  h2{
    margin-left: 20px;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #34495e;
    font-size: 16px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    background-color: #ecf0f1;
    color: #333;
    font-size: 14px;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #3498db;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ecf0f1;
    border-radius: 4px;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  li:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  li button {
    background-color: #e74c3c;
    color: #fff;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  li button:hover {
    background-color: #c0392b;
  }
  